{% extends 'base.html' %}

{% block content %} 
    <div class="column is-one-third">
        <div class="block">
            <a href="{% url 'astro:profile_list' %} ">
                <button class="button is-dark is-outlined is-fullwidth">
                    All Profiles
                </button>
            </a>
        </div>
        <div class="block">
            <a href="{% url 'astro:profile' request.user.profile.id %}">
                <button class="button is-success is-light is-outlined is-fullwidth">
                    My Profile
                </button>
            </a>
        </div>
        <div class="block">
            <div class="block">
                <h2 class="title is-2">Add a Dweet</h2>
            </div>
            <div class="block">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button is-success is-fullwidth is-medium mt-5"
                            type="submit">Dweet
                    </button>
                </form>
            </div>
        </div>
    </div> 
    <div class="column">
        {% for dweet in dweets %}
            <div style="height:5vh">
                <p style="background-color:lightgrey">
                    <br>
                </p>
            </div>
            <a href="{% url 'astro:profile' dweet.user.profile.id %}">
                <div class="box">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img  src="{{ dweet.user.profile.profileImage.url }}" alt="profile picture">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">
                                        {{ dweet.user.username }}
                                    </p>
                                    <p class="subtitle is-6">
                                        @{{ dweet.user.username|lower }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'astro:dweet' dweet.id %}">
                    {% if dweet.dweetImage %}
                        <div class="box">
                            <div class="card">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-center">
                                            <figure class="image is-fullwidth">
                                                <img src="{{ dweet.dweetImage.url }}" alt="dweet picture">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="box">
                        <span class="is-small has-text-grey-light">
                            ({{ dweet.created_at }})
                        </span>
                        {{ dweet.body }}
                    </div>
                    <div class="box">
                        <p>
                            Comments: {{ dweet.comments.count }}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}